<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-autowire="byName" default-lazy-init="true">

    <!--context:component-scan base-package="au.com.totemsoft.myplanner.service" /-->

    <bean id="report"  class="au.com.totemsoft.myplanner.report.word.WordReportRtf" />

    <bean id="businessService"    class="au.com.totemsoft.myplanner.service.impl.BusinessServiceImpl" />
    <bean id="entityService"      class="au.com.totemsoft.myplanner.service.impl.EntityServiceImpl" />
    <bean id="financialService"   class="au.com.totemsoft.myplanner.service.impl.FinancialServiceImpl" />
    <bean id="personService"      class="au.com.totemsoft.myplanner.service.impl.PersonServiceImpl" />
    <bean id="clientService"      class="au.com.totemsoft.myplanner.service.impl.ClientServiceImpl" />
    <bean id="userService"        class="au.com.totemsoft.myplanner.service.impl.UserServiceImpl" />
    <bean id="utilityService"     class="au.com.totemsoft.myplanner.service.impl.UtilityServiceImpl" />

    <!-- spring security -->
    <bean id="userDetailsService" class="au.com.totemsoft.myplanner.service.impl.UserDetailsServiceImpl" />

    <bean id="passwordEncoder"    class="au.com.totemsoft.crypto.Md5PasswordEncoder" />
    <!--bean id="passwordEncoder"    class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"
        c:strength = "11" /-->

    <bean id="userPreferences" class="au.com.totemsoft.myplanner.api.bean.UserPreferences" />
    <!--bean id="userPreferences" class="au.com.totemsoft.myplanner.api.bean.UserPreferences" scope="session" /-->

</beans>