<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName" default-lazy-init="true">

    <bean id="businessService" class="com.argus.financials.service.impl.BusinessServiceImpl" />
    <bean id="entityService" class="com.argus.financials.service.impl.EntityServiceImpl" />
    <bean id="personService" class="com.argus.financials.service.impl.PersonServiceImpl" />
    <bean id="clientService" class="com.argus.financials.service.impl.ClientServiceImpl" />
    <bean id="userService" class="com.argus.financials.service.impl.UserServiceImpl" />
    <bean id="utilityService" class="com.argus.financials.service.impl.UtilityServiceImpl" />

</beans>