<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ========================= PROPERTIES DEFINITIONS ================== -->

    <!-- ========================= DAO DEFINITIONS ========================= -->
    <import resource="classpath:spring/spring-inc-dao.xml" />

    <!-- ========================= SERVICE DEFINITIONS ===================== -->
    <import resource="classpath:spring/spring-inc-service.xml" />

    <!-- ========================= JPA DEFINITIONS ========================= -->
    <import resource="classpath:spring/spring-inc-jpa.xml" />

    <!-- ========================= TXN DEFINITIONS ========================= -->
    <!--import resource="classpath:spring/spring-inc-tx-local.xml" /-->

    <!-- ========================= OTHER DEFINITIONS ============================= -->
    <bean id="userPreferences" class="com.argus.financials.security.UserPreferences" scope="session" />

</beans>