.height5 {height:5em;}
.height10 {height:10em;}
.height15 {height:15em;}
.height20 {height:20em;}
.height100 {height:100%;}

.width1em {width:1em;}
.width2em {width:2em;}
.width3em {width:3em;}
.width4em {width:4em;}
.width5em {width:5em;}
.width8em {width:8em;}
.width10em {width:10em;}
.width12em {width:12em;}
.width15em {width:15em;}
.width20em {width:20em;}
.width20 {width:20%;*width:20%;}
.width25 {width:25%;*width:25%;}
.width30 {width:30%;*width:30%;}
.width33 {width:33%;*width:33%;}
.width40 {width:40%;*width:40%;}
.width50 {width:50%;*width:50%;}
.width100 {width:100%;*width:100%;}
.width-auto {width:auto;}

/* Fonts */
.bold {font-weight:bold;}
.italic {font-style:italic;}
.normal {font-weight:normal;}

.larger {font-size:1.2em !important;}
.large {font-size:1.1em !important;}
.small {font-size:0.9em !important;}
.smaller {font-size:0.8em !important;}

.capitalize {text-transform: capitalize;}
.lowercase {text-transform: lowercase;}
.uppercase {text-transform: uppercase;}

.wrap {white-space: normal;}
.nowrap {white-space: nowrap;}
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.valign-top {vertical-align: top;}
.valign-middle {vertical-align: middle;}
.valign-bottom {vertical-align: bottom;}

.error {
    color: red;
    font-family: monospace;
    text-align: left;
}
.error-hidden {
    color: red;
    font-family: monospace;
    text-align: left;
    display: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: larger;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {clear: both;}
